body{
margin: 0;
padding:0;
}
.outercontainer{
border:1px solid red;
border-radius: 20px;
padding-top:1.5em;
padding-bottom:0.4em;
padding-left:2em;
padding-right:2em;
}
#firstHead{
padding-left:0.4em;
margin-top:0.4em;
border-radius: 15px;
background-color: #FB7979;
color: #fff;
}
#degreeT{
    font-size: 3.0em;
    color:#fff;
    text-align:center;
    background:#9199FC;
    border-radius:15px;
}
#sunnyT,h4{
    padding:0.1em;
    text-align:left;
}

.h4Now{
    
}
#holdTime{

}
